@use '../../styles/variables' as v;

// Mapeamento das variáveis do sistema
$p-deep: v.$color-primary;
$p-dark: v.$color-dark;
$p-mist: v.$color-bg-cream;
$font-serif: v.$font-serif;

.faq {
  padding: clamp(80px, 10vw, 140px) 8%;
  background-color: #ffffff;

  &__container {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__header {
    text-align: left;
    margin-bottom: 80px;
    border-left: 4px solid $p-deep;
    padding-left: 30px;
    
    .faq__subtitle {
      margin-top: 20px;
      color: rgba($p-dark, 0.6);
      font-weight: 300;
      font-size: 1.2rem;
      max-width: 450px;
    }
  }

  &__tag {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.75rem;
    font-weight: 800;
    color: $p-deep;
    display: block;
    margin-bottom: 10px;
  }

  &__title {
    font-family: $font-serif;
    font-size: clamp(2.5rem, 5vw, 4.2rem);
    color: $p-dark;
    line-height: 1.1;
    span { font-weight: 300; color: rgba($p-dark, 0.2); }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-bottom: 1px solid rgba($p-dark, 0.1);
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    position: relative;

    &:hover {
      background-color: $p-mist;
      padding-left: 20px;
    }

    &--active {
      background-color: $p-mist;
      padding-left: 20px;

      .faq__icon-box {
        transform: rotate(45deg);
        color: $p-deep;
      }

      .faq__answer {
        grid-template-rows: 1fr; // Abre o conteúdo
        padding-bottom: 40px;
        opacity: 1;
        visibility: visible;
      }

      h3 { color: $p-deep; }
      .faq__number { color: $p-deep; opacity: 1; }
    }
  }

  &__question {
    display: flex;
    align-items: center;
    padding: 40px 0;
    gap: 30px;

    .faq__number {
      font-family: $font-serif;
      font-size: 0.9rem;
      color: $p-dark;
      opacity: 0.4;
      font-weight: 700;
    }

    h3 {
      font-size: clamp(1.1rem, 2vw, 1.4rem);
      font-weight: 600;
      color: $p-dark;
      transition: all 0.3s ease;
      flex: 1;
    }
  }

  &__icon-box {
    font-size: 1.5rem;
    color: rgba($p-dark, 0.2);
    transition: 0.4s;
    display: flex;
    align-items: center;
  }

  &__answer {
    display: grid;
    grid-template-rows: 0fr; // Começa fechado
    transition: 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    &-content {
      min-height: 0;
      padding-left: 55px;
      max-width: 700px;
      
      p {
        color: rgba($p-dark, 0.7);
        line-height: 1.8;
        font-size: 1.1rem;
        font-weight: 300;
      }
    }
  }
}